
.glib-response-container{
position: sticky;
margin-top: 8px;
z-index: 10;
border-bottom: 2px solid #1F2041;
border-top: 1px solid #4B3F72;
border-left:  1px solid #4B3F72;
border-right: 1px solid #1F2041;
background-color: #F1FFD8;
text-align: center;
padding:6px ;
border-radius: 4px;
}
.glib-reglib-container{
  border-bottom: 1px solid #1F2041;
  border-top: 1px solid #4B3F72;
  border-left:  1px solid #4B3F72;
  border-right: 1px solid #1F2041;
  border-radius: 4px;
  margin-bottom: 3px;
  margin-left:10px;
  max-width: 92%;
  background-color: #F4F4F4;
  text-align: left;
  padding:4px;
}

.response-glib-body{
  width: 100%;
  margin-bottom: 5px;
  border-radius: 4px;
  resize: none;
  height: 90px;
}
.glib-message-bar{
font-size: .7rem;
font-family: Ubuntu, Roboto;
height: 12px;
text-align:right;
margin-bottom: 2px;

}




.triangle {
	font-size: 1em;	
	position: relative;
	width: 10em;
	height: 4em;
	text-align: center;
	overflow: hidden;
	border-radius: 100%;
  margin: -10px auto 0;
  cursor:pointer;
} 
.triangle:before {
	content: '';
	position: absolute;
	border: solid 5em transparent;
	border-top-color: #399552;
	border-top-width: 2em;	
	margin: .6em -50%;
}

.triangle:hover { 
  border-top-color: #4B3F72;
 }
.triangle.large {
	font-size: 4em;
	margin-top: 1em;
}








/* Smartphones portrait 
aligns with bootstrap 4
xs = Extra small <576px
Max container width None (auto)
*/
@media only screen and (min-width: 150px) and (max-width: 576px) {

.glibfeed-friendly-name{
  width:100%;
}

}


/* Smartphones landscape 
aligns with bootstrap 4
sm = Small ≥576px
Max container width 540px
*/
@media only screen and (min-width: 577px) and (max-width: 767px) {}


/* Tablet portrait
aligns with bootstrap 4
md = Medium ≥768px
Max container width 720px
*/
@media only screen and (min-width: 768px) and (max-width: 991px) {}


/* Desktop and Tablet Landscape
aligns with bootstrap 4
lg = Large ≥992px
Max container width 960px
*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {}


/* Desktop and Tablet Landscape
aligns with bootstrap 4
xl = Extra large ≥1200px
Max container width 1140px
*/
@media only screen and (min-width: 1200px) {

}
