body {
  width: 100%;
  height: 100%;
}



#sideButton {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  box-shadow: none; 
  outline: none; 
  position:relative;
  float:right;
  top:240px; 
   margin-right:-5px;
  z-index:100;
}
 
#sideButton:focus {
  border: none;
  box-shadow: none; 
  outline: none; 
}
 
#sideButton:active {
  border: none;
  box-shadow: none; 
  outline: none; 
}




.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}


.slide-in {
  display: block;
}
.slide-in > div {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 250px;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-transition: -webkit-transform ease 250ms;
  -moz-transition: -webkit-transform ease 250ms;
  -ms-transition: -webkit-transform ease 250ms;
  -o-transition: -webkit-transform ease 250ms;
  transition: -webkit-transform ease 250ms;
  -webkit-transition: transform ease 250ms;
  -moz-transition: transform ease 250ms;
  -ms-transition: transform ease 250ms;
  -o-transition: transform ease 250ms;
  transition: transform ease 250ms;
}
.slide-in > div.left {
  background: #273D7A;
  left: -250px;
}
.slide-in > div.visible.left {
  transform: translate3d(250px, 0, 0);
  -ms-transform: translate3d(250px, 0, 0);
  -webkit-transform: translate3d(250px, 0, 0);
  -o-transform: translate3d(250px, 0, 0);
  -moz-transform: translate3d(250px, 0, 0);
}
.slide-in > div.right {
  background: #6B1919;
  right: -250px;
}
.slide-in > div.visible.right {
  transform: translate3d(-250px, 0, 0);
  -ms-transform: translate3d(-250px, 0, 0);
  -webkit-transform: translate3d(-250px, 0, 0);
  -o-transform: translate3d(-250px, 0, 0);
  -moz-transform: translate3d(-250px, 0, 0);
}
.slide-in > div > .slide-in-item {
  float: left;
  width: 100%;
  margin: 0;
  padding: 10px 15px;
  border-bottom: solid 1px #555;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #B0B0B0;
}
.slide-in > div > .slide-in-item:hover {
  color: #F0F0F0;
}
