
.profile-upload-circle-cropper {
  position: relative;
  width: 100%;
  /* desired width */
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #B3FF63;
  box-shadow: 0 0 0 1px #399552;
}

.profile-upload-circle-cropper:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* initial ratio of 1:1*/
}

.profile-upload-picture-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.profile-upload-picture {
  width: 100%;
  height: auto;
}

#upload-picture-control {
  position: absolute;
  left: -10000px;
  top: -10000px;
}

.follow-this-user-container, .new-glib {
  margin-bottom: 20px;
}


/* start user info box styles */

.user-info-box-wrapper {
  height: 200px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #F1FFD8;
}

.user-info-box-top {
  background: #399552;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 50%;
}

.user-info-box-bottom {
  background: #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 50%;
  padding: 7px 10px 10px;
}

.user-info-picture-wrapper {
  height: 50px;
}

.user-info-picture {
  height: 90px;
  overflow: hidden;
  position: absolute;
  top: 65px;
  width: 90px;
  border: 3px solid #fff;
  border-radius: 5px;
  float: left;
  margin: 0 auto;
}

.user-info-picture .inner {
  position: relative;
  float: right;
  right: 50%;
}

.user-info-picture img {
  border-radius: 5px;
  height: 90px;
  width: auto;
  position: relative;
  right: -50%;
}

.user-info-name-handle {
  padding-left: 95px;
}

.user-glibs-following-wrapper {
  margin-left: 2px;
}

.user-info-glibs, .user-info-following {
  float: left;
  width: 50%;
}

.user-info-glibs label, .user-info-following label {
  display: block;
  color: #657786;
  font-size: 10px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.user-info-glibs div, .user-info-following div {
  font-size: 18px;
}


/* end user info box styles */

.edit-profile {
  margin-top: 15px;
}

.edit-profile a {
  width: 100%;
}


/*REACT INLINE EDIT STYLES*/

.form-inActive-text {
  vertical-align: -50%;
}

.already-following {
  color: #399552;
  font-size: 16px;
  margin-bottom: 10px;
  font-style: italic;
}




/*  Profile List Fluid boxes. */
.boxFluid {
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  min-width: 180px;
  max-width: 1400px
}

.boxFluid>div {

  width: 175px;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1
}

.boxFluid:after {
  content: '';
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

.profile-error{
	color:red;
	display:block;
}
.profile-error hide{
	display:none;
}



/* Smartphones portrait 
aligns with bootstrap 4
xs = Extra small <576px
Max container width None (auto)
*/
@media only screen and (min-width: 150px) and (max-width: 576px) {

  h4{
    font-size: .9rem;
  }

  .user-profile-picture-upload {
    width: 70px;
    height: 50px;
  }
  .user-profile-picture-upload label {
    width: 70px;
    height: 50px;
    font-size: 12pt;
    }
    

    .profile-upload-circle-cropper {
      text-align: center;
      width: 70%;
      margin-left: 15%;
 
    }
    
    

    
    
  


}
/* Smartphones landscape 
aligns with bootstrap 4
sm = Small ≥576px
Max container width 540px
*/
@media only screen and (min-width: 577px) and (max-width: 767px) {

  .user-profile-picture-upload {
    width: 120px;
    height: 100px;
  }
  .user-profile-picture-upload label {
    width: 120px;
    height: 100px;
    }
}




/* Tablet portrait
aligns with bootstrap 4
md = Medium ≥768px
Max container width 720px
*/
@media only screen and (min-width: 768px) and (max-width: 991px) {


  .user-profile-picture-upload {
    width: 160px;
    height: 130px;
  }
  .user-profile-picture-upload label {
    width: 160px;
    height: 130px;
  }
  
}


/* Desktop and Tablet Landscape
aligns with bootstrap 4
lg = Large ≥992px
Max container width 960px
*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .user-profile-picture-upload {
    width: 170px;
  }
  .user-profile-picture-upload label {
    width: 170px;
    height: 145px;
  }}


/* Desktop and Tablet Landscape
aligns with bootstrap 4
xl = Extra large ≥1200px
Max container width 1140px
*/
@media only screen and (min-width: 1200px) {

  .user-profile-picture-upload {
    width: 250px;
  }
  .user-profile-picture-upload label {
    width: 250px;
    height: 180px;
  }
}
