.glib {
      padding: 5px;
      background-color: #ffffff;
      border-bottom: 1.5px solid #337ab7;
      border-top: 1px solid #9ec0dd;
      border-left: 1px solid #9ec0dd;
      border-right: 1px solid #337ab7;
      border-radius: 6px;
      margin-top: 10px;
      cursor: pointer;
      width: 100%;
      position: static;
      border-radius: 3px;
}

.glib-overlay {
      margin-left: 5px;
      margin-top: 5px;
      width: 100%;
}

.glib-avatar-circle-cropper {
      position: relative;
      width: 100%;
      /* desired width */
      overflow: hidden;
      border-radius: 50%;
      border: 3px solid #B3FF63;
      box-shadow: 0 0 0 1px #399552;
}

.glib-avatar-circle-cropper:before {
      content: "";
      display: block;
      padding-top: 100%;
      /* initial ratio of 1:1*/
}

.glib-avatar-picture-inner {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
}

.glib-avatar-picture {
      
      object-fit: cover;
      width: 105%;
      height: 105%;  
      left: 50%;
      top: 52%;
      
}

.glib-table {}

.glib-row {
      vertical-align: top;
}

.glib-cell {
      padding-left: 8px;
      padding-right: 2px;
      padding-top: 2px;
      padding-bottom: 2px;
      margin-right: 4px;
}

.glib:first-child {
      margin-top: 0;
}

.glib:hover {
      background: #F5F7DC;
}

.glibr-user-avatar {
      width: 100%;
      max-width: 300px;
      min-width: 30px;
}

.glib-author,
.glib-handle,
.glib-date {
      display: inline-block;
      margin-right: 5px;
      font-size: 12px;
}

.glib-author {
      font-weight: 700;
      color: #9DB17C;
}

.glib-handle,
.glib-date {
      color: #04724D;
}

.glib-text {
      clear: both;
      /* border-left:solid 1px #7AC74F; */
      padding-left: 3px;
      font-size: 14px;
      white-space: -moz-pre-wrap;
      /* Mozilla */
      white-space: -hp-pre-wrap;
      /* HP printers */
      white-space: -o-pre-wrap;
      /* Opera 7 */
      white-space: -pre-wrap;
      /* Opera 4-6 */
      white-space: pre-wrap;
      /* CSS 2.1 */
      white-space: pre-line;
      /* CSS 3 (and 2.1 as well, actually) */
      word-wrap: break-word;
      /* IE */
}

.glib-cost {
      color: #7AC74F;
      font-weight: 700;
      font-size: 16px;
      white-space: nowrap;
}

.glib-actions {
      display: inline-block;
      margin-left: 15px;
}

.glib-actions:first-child {
      margin-left: 0;
}

/* glib upload picture css */

.glib-picture {
      max-width: 400px;
      max-width: 100%;
      display: block;
      margin: 0 auto;
      padding-bottom: 4px;
      border-radius: 6px;
}

.glib-picture hide {
      display: none;
}

.glib-picture-container {
      text-align: center;
}

.glib-error {
      color: red;
      display: block;
}

.glib-error hide {
      display: none;
}

/*Gilb Picture File Upload */

label.glibPictureUploadLabel input[type="file"] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      visibility: hidden;
}

.glibPictureUploadLabel {
      border: 1px solid #000000;
      background-color: #399552;
      color: white;
      font-size: .9rem;
      border-radius: 4px;
      white-space: nowrap;
      padding: 0px 3px 0px 2px;
      margin: 0px 0px 0px 5px;
      font-weight: normal;
}

.glibPictureUploadLabel:hover {
      background: #B3FF63;
      cursor: pointer;
}

.glibPictureUploadLabel:active {
      background: #00ff00;
}

.glibPictureUploadLabel :invalid+span {
      color: #00ff00;
}

.glibPictureUploadLabel :valid+span {
      color: #ffffff;
}

.glib-reply {
      display: block;
}

.glib-reply hide {
      display: none;
}

.new-glib {
      /* background: #F1FFD8; */
      background: #92D0A2;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 5px;
      border: 1px solid #1F2041;
}

.new-glib-body {
      width: 100%;
      margin-bottom: 0px;
      border-radius: 5px;
      resize: none;
      height: 65px;
      padding: 4px;
}

.new-glib-toolbar {
      text-align: right;
      width: 100%;
}

.new-glib-cost-label {
      margin-right: 5px;
      font-size: .9rem;
}

.new-glib-cost {
      width: 50px;
      border-radius: 5px;
      border: 1px solid rgb(169, 169, 169);
      padding-left: 5px;
      font-size: .8rem;
}

.containerFullWidth {
      width: 100%;
}

.containerGlibButtons {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-auto-rows: 1fr;
      grid-column-gap: 5px;    
      margin-right: 40px;
      vertical-align: middle;
}

.glib-margin-reduce {
      margin-bottom: -12px
}

.glib-margin-expand {
      margin-bottom: 30px
}

.iconGlib {
      width: 20px;
      margin-left:  2px;
      margin-right: 12px;
      text-align: center;
      vertical-align: middle;
}

.iconGlibText {
      position: relative;
      top: -8px;
      left: 10px;
}

.iconGlibTextNoShift {
      position: relative;
}

.buttonGlib {
      width: 110px;
      margin-top:5px;
      display: table;
      text-align: right;
      
}

.glibEditControl {
      padding-left: 5px;
}

/* Bootstrap overrides */

.dropdown-menu {
      white-space: nowrap;
      position: absolute;
      padding: .4px 4px 2px 4px;
      margin-left: -60px;
      margin-top: 5px;
      border: 1px solid #BCD8C1;
      min-width: 0;
}



/* Smartphones portrait */

@media only screen and (min-width: 320px) and (max-width: 479px) {
      .new-glib-toolbar {
            white-space: nowrap;
      }
      .new-glib-body {
            height: 45px;
      }
      body {}
}

/* Smartphones portrait 
aligns with bootstrap 4
xs = Extra small <576px
Max container width None (auto)
*/

@media only screen and (min-width: 150px) and (max-width: 576px) {


      .containerGlibButtons {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-auto-rows: 1fr;
            grid-column-gap: 1px;   
            vertical-align: middle;
      }

   
}

/* Smartphones landscape 
	aligns with bootstrap 4
	sm = Small ≥576px
	Max container width 540px
	*/

@media only screen and (min-width: 577px) and (max-width: 767px) {
  
}

/* Tablet portrait
	aligns with bootstrap 4
	md = Medium ≥768px
	Max container width 720px
	*/

@media only screen and (min-width: 768px) and (max-width: 991px) {}

/* Desktop and Tablet Landscape
	aligns with bootstrap 4
	lg = Large ≥992px
	Max container width 960px
	*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Desktop and Tablet Landscape
	aligns with bootstrap 4
	xl = Extra large ≥1200px
	Max container width 1140px
	*/

@media only screen and (min-width: 1200px) {}