
/* start user info box styles */

.profile-widget-wrapper{
 background-color: #ffffff;
  border-radius: 8px;
  border-bottom: 2px solid #337ab7;
  border-top: 2px solid #9ec0dd;
  border-left: 2px solid #9ec0dd;
  border-right: 2px solid #337ab7;
  text-align: center;
  margin-bottom:5%; 
}

.profile-widget-top {
  background: #399552;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; 
  text-align: center;
  height:80px;;
  width: 100%;
  margin-bottom: 12%
}


.profile-widget-bottom{
 text-align: center;
 padding-bottom: 5px;

}
.profile-charity-logo{
  width: 80px;
}

	
/* Smartphones portrait */
@media only screen and (min-width: 320px) and (max-width: 479px){ 
  .profile-widget-top {
   margin-bottom: 1rem
  }

}

/* Smartphones landscape */
@media only screen and (min-width: 480px) and (max-width: 767px){ 
  .profile-widget-top {
    margin-bottom: 1rem
  }

}

/* Tablet portrait */
@media only screen and (min-width: 768px) and (max-width: 991px){ 


}

/* Desktop and Tablet Landscape */
@media only screen and (min-width: 992px){ 


}