
/*  Profile widget style */
.profileWidget-border {
      border: 1px solid #BCD8C1;
      border-radius: 8px;
      max-width: 220px;
      min-width: 180px;
      background-color: #F1FFD8;
      margin: 5px;
      padding: 3px;
    }

.profile-image-circle-cropper {
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 50%;
      border: 3px solid #B3FF63;
      box-shadow: 0 0 0 1px #399552;
}

.profile-profile-picture {
      width: 100%;
}

.profileWidget-cell {
      border: 1px solid #888888;
}

td {
      /* border:1px solid #BCD8C1;                 */
      padding-left: 2px;
      padding-right: 2px;
}

table {
      table-layout: fixed;
      ;
}

