.btn-default {
	position: relative;
	background: #ffffff;
      border-radius: .4rem;
      padding:2px 5px 2px;
      border: 2px solid #399552;
}

.btn-default:after {
	
}
.btn-default:focus,
.btn-default:active,
.btn-default.active{
      font-weight: bold;
      padding:2px 5px 2px;
      border-color: #4B3F72;
      background-color: #ffffff;
      outline: none !important;
      box-shadow: none !important;
}
.btn-default:focus:after{
      outline: none !important;
      box-shadow: none !important;
      content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #4B3F72;
	border-bottom: 0;	
	margin-left: -12px;
	margin-bottom: -12px;
}


.search-width{
	max-width: 165px;;
}



.menu-item {
	position: relative;
	background: #ffffff;
      border-radius: .4rem;
      padding:2px;
      border: 2px solid #399552;
}

.menu-item:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #399552;
	border-bottom: 0;	

}

.menu-item-highlight {
	position: relative;
	background: #ffffff;
      border-radius: .4rem;
      padding:2px;
      border: 2px solid #4B3F72;
}

.menu-item-highlight:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #4B3F72;
	border-bottom: 0;	
	margin-left: -14px;
	margin-bottom: -12px;
}


.ul-nav{
	display: inline-table;
	margin-right: auto;
	margin-left: auto;
	white-space: nowrap;
}
.li-nav{
	display: inline;
}
.li-nav-nowrap{
	white-space: nowrap;
	display: inline-block; 
}




#glibrSearch{
	color: black;  
	text-align: left;
	cursor: pointer;      
	margin-left:15px;
	width:125px;	
	background: #F1FFD8;
	border-radius: .4rem;
      padding:2px;
      border: 2px solid #399552;
}

#glibrSearchButton{
	position:relative;
	left:-8px;
	border-radius: .4rem;
      padding:2px;
      border: 2px solid #399552;

	background-color:#399552;
	color:#fafafa;
      border-radius: .4rem;
}



#glibrSearchButton:hover  {
	background-color:#BCD8C1;
	color:#399552;
}



/* Smartphones portrait */
@media only screen and (min-width: 320px) and (max-width: 479px){ 
	.navbar-toggler{
		position: relative;
		background-color:#BCD8C1;
		top: 170px;
		left:-15px;
		z-index: 200;
		margin-top:-55px;
	}

	.navbar{
		margin-top:-10px;
	}
	.navbar-compact{
		width:100%;
		text-align:center;
		font-size: .95rem;
		font-family:righteous;
		line-height:1.5rem;
		margin-bottom:2px;		
		color:#1F2041;
		border: 1px solid #1F2041;
		background: #BCD8C1;
		border-radius: .3rem;

	}

	.navbar-compact-menu{
		z-index: 250;
		position:relative;
		color:#1F2041;
		border: 1px solid #1F2041;
		background: #BCD8C1;
		border-radius: .3rem;
		display:none;
		margin-bottom:2px;
		padding-top:3px;
		padding-bottom:3px;
	}

	#glibrSearch{

		width:280px;	

	}


	#glibrSearchButton{
font-weight:bold;
font-size:1.1rem;
line-height:1.2rem;
padding-bottom:4px;
	}


}

/* Smartphones landscape */
@media only screen and (min-width: 480px) and (max-width: 560px){ 
	.navbar-toggler{
		position: relative;
		background-color:#BCD8C1;
		top: 55px;
		z-index: 200;
		margin-top:-55px;
	}



}


/* Smartphones landscape */
@media only screen and (min-width: 561px) and (max-width: 767px){ 


}

/* Tablet portrait */
@media only screen and (min-width: 768px) and (max-width: 991px){ 


}

/* Desktop and Tablet Landscape */
@media only screen and (min-width: 992px){ 


}
