.group-picture-upload {
      max-width: 400px;
      width: 100%;
      display: block;
      margin: 0 auto;
      padding-bottom: 4px;
      border-radius: 6px;
}

.group-picture-upload-hide {
      display: none !important;
}


.group-picture {
      object-fit: cover;
      position: fixed;
      width: 105%;
      height: 105%;
      display: block;
      margin: 0 auto;
      padding-bottom: 4px;
      border-radius: 6px;
      left: 50%;
      top: 52%;
      transform: translate(-50%, -50%);
}


/* Create a custom checkbox */
.checkmark {
      height: 25px;
      width: 25px;
}

.group-image-circle-cropper {
      width: 100px;
      height: 100px;
      max-width: 120px;
      overflow: hidden;
      border-radius: 50%;
      border: 3px solid #F1FFD8;
      box-shadow: 0 0 0 3px #399552;
      background-color: #BCD8C1;
      position: absolute;
      left: 95%;
      top: 0%;
      transform: translate(-90%, -5%);

}




/* Smartphones portrait */

@media only screen and (min-width: 320px) and (max-width: 479px) {
      .new-glib-toolbar {
            white-space: nowrap;
      }
      .new-glib-body {
            height: 45px;
      }
      body {}
}

/* Smartphones portrait 
aligns with bootstrap 4
xs = Extra small <576px
Max container width None (auto)
*/

@media only screen and (min-width: 150px) and (max-width: 576px) {
   
}

/* Smartphones landscape 
	aligns with bootstrap 4
	sm = Small ≥576px
	Max container width 540px
	*/

@media only screen and (min-width: 577px) and (max-width: 767px) {
    
}

/* Tablet portrait
	aligns with bootstrap 4
	md = Medium ≥768px
	Max container width 720px
	*/

@media only screen and (min-width: 768px) and (max-width: 991px) {}

/* Desktop and Tablet Landscape
	aligns with bootstrap 4
	lg = Large ≥992px
	Max container width 960px
	*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Desktop and Tablet Landscape
	aligns with bootstrap 4
	xl = Extra large ≥1200px
	Max container width 1140px
	*/

@media only screen and (min-width: 1200px) {}
