.register-container,
.login-container,
.reset-password,
.forgotpassword-container {
      max-width: 700px;
}

.password__input:focus,
.password__input:active {
      border-color: #00BCD4;
      outline: 0;
}

.password__show {
      cursor: pointer;
      position: absolute;
      bottom: 8px;
      right: 20px;
      height: 16px;
      color: #aaaaaa;
      font-size: .7rem;
}

.password__strength {
      position: absolute;
      width: 0%;
      height: 4px;
      bottom: -8px;
      left: 0;
      background: transparent;
      transition: all 300ms ease-in-out;
}

.password__strength[data-score="null"] {
      width: 0;
      background: red;
}

.password__strength[data-score="0"] {
      width: 5%;
      background: #F44336;
}

.password__strength[data-score="1"] {
      width: 25%;
      background: #F44336;
}

.password__strength[data-score="2"] {
      width: 50%;
      background: #FFEB3B;
}

.password__strength[data-score="3"] {
      width: 75%;
      background: #4CAF50;
}

.password__strength[data-score="4"] {
      width: 100%;
      background: #4CAF50;
}

.regLabelDisplay {
      display: block;
      text-align: right;
}

.regButtonDisplay {
      text-align: right;
}

/* Smartphones portrait 
aligns with bootstrap 4
xs = Extra small <576px
Max container width None (auto)
*/

@media only screen and (min-width: 150px) and (max-width: 576px) {
      .regLabelDisplay {
            display: none;
            text-align: center;
            font-size: 13px;
      }
      .push-vAlign-down10 {
            padding-top: 0px;
            margin-top:-5px;
      }
      .form-control {
            font-size: 1.3rem;
            line-height: 35px;

      }
      .form-control-stripe{
            width: 263px;
            margin-left:-23px;
            line-height: 45px;
      }
      .form-input-error{
            font-size: 1.3rem;
            line-height: 25px;
          border: 1px solid red; 
      }
      .regButtonDisplay {
            text-align: center;
      }
      .btn-primary{
        font-size: 1.1rem;
        font-weight:bold;
      }
}

/* Smartphones landscape 
aligns with bootstrap 4
sm = Small ≥576px
Max container width 540px
*/

@media only screen and (min-width: 577px) and (max-width: 767px) {

      .form-control-stripe{
            width: 243px;
            margin-left:-23px;
      }
}

/* Tablet portrait
aligns with bootstrap 4
md = Medium ≥768px
Max container width 720px
*/

@media only screen and (min-width: 768px) and (max-width: 991px) {

      .form-control-stripe{
            width: 200px;
            margin-left:-23px;
      }
}

/* Desktop and Tablet Landscape
aligns with bootstrap 4
lg = Large ≥992px
Max container width 960px
*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Desktop and Tablet Landscape
aligns with bootstrap 4
xl = Extra large ≥1200px
Max container width 1140px
*/

@media only screen and (min-width: 1200px) {}