/* https://all-markup-news.com/px-to-em/ */

/* Color pallette: https://coolors.co/1f2041-4b3f72-399552-bcd8c1-f1ffd8 */

/* BOOTSTRAP 4 UPGRADE: http://upgrade-bootstrap.bootply.com */

/* GLIBR logo color #399552 */

/*>>>>>>>>>>  NEW Pallette >>>>>>>>>>>
/*Dark Purpel: #1F2041 */

/* Purple: 4B3F72*/

/* glibr green: #399552 */

/* Soft Green: #BCD8C1 */

/* Beige Green: #F1FFD8 */

/*>>>>>>>>>>  NEW Pallette >>>>>>>>>>>

/* lime green #B3FF63 NEW B3FF63 */

/* bright green #5EEB5B */

/* soft green #F1FFD8 NEW F1FFD8 */

/* soft blue #A6EBC9 */

* {
      margin: 0;
      box-sizing: border-box;
}

html,
body,
#root,
.app.container {
      height: 100%;
      font-family: Ubuntu, Roboto, sans-serif;
      font-size: .9rem;
      background-color: #4B3F72;
       background-image: url('/images/tree-background-2.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover; 
      text-align: center;
}

.glibr-page-container{
      max-width:1200px;
}

h1{
  /* text-shadow: -1px 0 #4B3F72, 0 1px #4B3F72, 1px 0 #4B3F72, 0 -1px #4B3F72;
  letter-spacing: .1rem; */
}


body,
h1,
h2,
h3,
h4,
h5 {
      margin: 0;
      padding: 0;

}

h1,
h2,
h3,
h4,
h5 {
      font-family: Righteous;
}

h1 {
      margin: 10px 0 15px;
}

h1.style-one {
      margin: 3px 0px 3px;
}

h1.style-two {
      font-size: 1.25rem;
      margin: 3px 0px 3px;
}
h1.style-three {
      font-size: 1.25rem;
      margin: 3px 0px 3px;
      text-shadow: -1px -1px 0 #4B3F72, 1px -1px 0 #4B3F72, -1px 1px 0 #4B3F72, 1px 1px 0 #4B3F72;
}

hr.style-two {
      border: 0;
      height: 2px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(39, 95, 52, 1), rgba(0, 0, 0, 0));
}

hr.style-three {
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(39, 95, 52, 1), rgba(0, 0, 0, 0));

}

hr.style-four-purple {
      border: 0;
      height: 1px;
      margin: .25rem;
      background-image: linear-gradient(to right, rgba(75, 63, 114, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

hr.style-five-purple {
      border: 0;
      height: 1px;
      margin: .25rem;
      background-image: linear-gradient(to left, rgba(75, 63, 114, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

/* checkbox styling */
li.check-heart{
      list-style-image: url('/images/check-16.png');
      vertical-align: middle;
      margin-bottom:1.5rem;
}
.li-valign-middle{
      top:-3px; 
      position:relative;
}

/* end of Checkbox styling */

a:link{
      text-decoration: none;
}


.table-td-no-padding {
      padding-left: 4px;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      border: 1px solid #7AC74F;
}

.table-no-padding {
      border-collapse: collapse;
}

.table-align-right {
      width: auto;
      margin-right: 0px;
      margin-left: auto;
}
.table-fix-overflow{
width:auto;
}

.table-center-fix {
      margin: auto;
}


.text-align-center {
      text-align: center;
}

.text-align-right {
      text-align: right;
}

.text-align-left {
      text-align: left;
}

.valign-top{
      vertical-align: top;
}

.valign-middle{
      vertical-align: middle;
}

.valign-bottom{
      vertical-align: bottom;
}
.valign-div-bottom{
      position: absolute;
      bottom:   0;
}

.div-full-width {
      width: 100%
}
.div-no-wrap{      
      white-space: nowrap;
}

.float-right {
      float: right;
}

.push-vAlign-down10 {
      padding-top: 10px;
}

.app {
      padding-bottom: 10px;
}

.margin-bottom-10 {
      margin-bottom: 10px;
}

.icon {
      margin-right: 5px;
}

.show {
      display: block;
}

.hide {
      display: none;
}

.response-container-success {
      color: #399552;
}

.response-container-error {
      font-size: .75rem;
      color: red;
}
.response-container-error:after {
      content:"\000A";
      white-space: pre;
  }

  .form-input-error{
        border: red dashed 2px;
  }

/* header styles */

.logo {
      height: 45px;
      float: left;
      margin: 10px 10px 0 0;
}

.logo-container a {
      text-decoration: none;
      z-index: 250;
}

.logo-container h1 {
      font-weight: 900;
      font-size: 3rem;
      color: #399552;
      font-family: 'Righteous', Arial;
}

.header-container {
      padding: 20px 15px 10px;
}

.auth-container {
      position: relative;
      top: 2px;
      white-space: nowrap;
}

.search-glibr-container {
      position: relative;
      margin-right: 20px;
}

.search-glibr {
      border-radius: 15px;
      border: 1px solid #7AC74F;
      padding: 2px 25px 2px 10px;
      outline: none;
}

.search-glibr-submit {
      background: transparent;
      position: absolute;
      right: 0;
      top: 0;
      height: 26px;
      padding: 0 12px 0 8px;
      border: none;
      border-left: 1px solid #7AC74F;
}

.search-glibr-submit span {
      color: #7AC74F;
}

.profile-thumbnail {
      width: 25px;
}

 
.image-circle-cropper {
      width: 100px;
      height: 100px;
      max-width: 120px;
      overflow: hidden;
      border-radius: 50%;
      border: 3px solid #F1FFD8;
      box-shadow: 0 0 0 3px #399552;
      background-color: #BCD8C1;
      position: absolute;
      left: 50%;
      top: 0%;
      transform: translate(-50%, -10%);
    
    }

    .profile-picture{
      object-fit: cover;
      position: fixed;
      width: 105%;
      height: 105%;
      display: block;
      margin: 0 auto;
      padding-bottom: 4px;
      border-radius: 6px;
      left: 50%;
      top: 52%;
      transform: translate(-50%, -50%);
      }


/* footer styles */

.footer.container {
      margin-top: 60px;
      display: flex;
      justify-content: space-between;
}

/* bootstrap overrides */

@media screen and (min-width: 767px) {
      .navbar-form,
      .navbar-collapse {
            padding-left: 0;
      }
}

.btn-primary {
      border-color: #399552;
      background-color: #399552;
}

.btn-primary:hover {
      background-color: #62AB37;
}

.btn-default {
      border-color: #7AC74F;
}

.btn-primary[disabled] {
      background: #ccc !important;
      }
      .btn-primary[disabled]:hover {
      background: #ccc !important;
      }

/* buttons */

.glib-button-response {
      border: 1px solid #399552;
      background-color: #F1FFD8;
      font-size: .8rem;
      border-radius: 4px;
      white-space: nowrap;
}

.glib-button {
      border: 1px solid #000000;
      background-color: #399552;
      color: white;
      font-size: .9rem;
      border-radius: 4px;
      white-space: nowrap;
      padding: 0px 3px 0px 2px;
      margin: 0px 0px 0px 5px;
      vertical-align: middle;
}


.glib-button:hover {
      background: #B3FF63;
      cursor:pointer;
}

.glib-button:active {
	background: #00ff00;
}

.glib-button :invalid+span {
	color: #00ff00;
}

.glib-button :valid+span {
	color: #ffffff;
}



/* fonts */

.glibr-font {
      font-family: Righteous;
      color: #399552;
}

.glibr-font-highlight {
      font-family: Righteous;
      color: #BCD8C1;
      text-shadow: -1px -1px 0 #4B3F72, 1px -1px 0 #4B3F72, -1px 1px 0 #4B3F72, 1px 1px 0 #4B3F72;
      letter-spacing:.09rem;
      text-decoration: none;
}

.glibr-font-purple {
      font-family: Righteous;
      color: #4B3F72;
}

.glib-font-light-green {
      font-family: Righteous;
      color: #BCD8C1;
}

.glibr-font-black {
      font-family: Righteous;
      color: #000000;
}

.glibr-font-black-bold {
      font-family: Righteous;
      font-size: 1.3rem;
      color: #000000;
}

.glibr-font-white {
      font-family: Righteous;
      color: #ffffff;
}

.glibr-tagline{
      font-size:1.1rem;
}

.dynamic-font{
      font-size:1.1em;
      font-size: 1.5vw;
}

.font-upsize {
      font-size: 1.2rem;
      letter-spacing: 1.2px
}
.font-spacing-add {
      letter-spacing:.09rem;
}
.font-line-height-double{
      line-height: 300%;
}

.font-bold{
      font-weight: bold;
}

.tiny-text {
      font-size: .75rem;
      color: #399552;
}
.tiny-text-black {
      font-size: .75rem;
      color: #000000;
}
.tiny-text-red {
      font-size: .75rem;
      color: #d11d10;
}
.tiny-text-purple {
      font-size: .75rem;
      color: #4B3F72;
}
.tiny-text-white {
      font-size: .75rem;
      color: #ffffff;
}
.clear-font{
      font-family: Ubuntu, Roboto, sans-serif;
}

.clear-float {
      clear: both;
}


.clear-float:after {
      display: table;
      content: "";
      clear: both;
}

.green-text {
      color: #399552;
}

.red-text {
      color: #d11d10;
}

.orange-text {
      color: #ff6600;
}

.cursor-hand {
      cursor: pointer;
}

/* Containers  and borders*/

.container-green-border {
      padding: 12px;
      border-radius: 7px;
      border-bottom: 2px solid #399552;
      border-top: 2px solid #c9d6cb;
      border-left: 2px solid #c9d6cb;
      border-right: 2px solid #399552;
      background-color: #ffffff;
}

.container-purple-border {
      padding: 12px;
      border-radius: 5px;
      border-bottom: 2px solid #4B3F72;
      border-top: 2px solid #b4b0c3;
      border-left: 2px solid #b4b0c3;
      border-right: 2px solid #4B3F72;
      background-color: #ffffff;
}

.container-light-green-border {
      padding: 12px;
      border-radius: 5px;
      border: 2px solid #BCD8C1;
      background-color: #ffffff;
}

.container-background-light-green {
      background-color: rgb(246, 253, 234);
}
.container-background-light-purple {
      background-color: #f2efff;
}
.container-background-light-purple {
      background-color: #f2efff;
}
.container-background-light-gray {
      background-color: #f4f4f4;
}
.container-background-white {
      background-color: #ffffff;
}

.container-full-width {
      width: 100%;
}
.container-600-width{
      max-width:  600px;
}
.container-80pct-left {
      width:80%;
      text-align:left; 
      margin: 0 auto;
}
.container-80pct {
      max-width:80%; 
      margin: 0 auto;
}
.container-0pct {
      max-width:50%; 
      margin: 0 auto;
}
.container-thin-green-border{
      border-radius: 4px;
      border: 1px solid #399552;
      background-color: #ffffff;
}

.thin-light-border{
      border: 1px solid rgb(206, 222, 209);
      border-radius: 5px;
      
}
.thin-purple-border{
      border: 1px solid #4B3F72;
      border-radius: 5px;
      
}
.glib-shift-menu-left {
      position: absolute;
      left: 200px;
      border: lime;
}

.container-margin-adder{
      margin:8px;
}
.container-padding-adder{
      padding: 5px;
}
.container-padding-adder25{
      padding: 35px;
}
.background-box{
      padding: 12px;
      border-radius: 5px;
      border-bottom: 2px solid #4B3F72;
      border-top: 2px solid #b4b0c3;
      border-left: 2px solid #b4b0c3;
      border-right: 2px solid #4B3F72;
      background-color:rgba(188,216, 193, 0.3)

}
.container-box-shadow{
box-shadow: 0 5px 15px 0 rgba(60, 87, 65, 0.1), 0 5px 15px 0 rgba(0, 0, 0, .07);
padding:25px;
}



/* React Modal classes */

.glibr-modal-wrapper {
      position: static;
}

.glibr-modal {
      position: fixed;
      top: 20%;
      left: 50%;
      margin-top: -50px;
      margin-left: -300px;

      max-height: calc(100vh - 210px);
      overflow-y: auto;

      width: 580px;
      padding: 5px;
      border: 3px solid #399552;
      background-color: white;
      border-radius: 6px;
      box-shadow: 3px 3px 5px 6px #ccc;
      
    
}

.ReactModal__Body--open {
      overflow: hidden;
}


/* Smartphones portrait 
aligns with bootstrap 4
xs = Extra small <576px
Max container width None (auto)
*/
@media only screen and (min-width: 150px) and (max-width: 576px) {

      html,
      body,
      #root,
      .app.container {
            height: 100%;
            width:auto;
            max-width: 100%;
    overflow-x: hidden;
 
      }

h1{
      font-size:1.45rem;
}
h5{
      font-size:1.15rem;
}
h1.style-two {
      font-size:.95rem;
      margin-bottom: -25px;
}

h1.style-one {
  
}

.logo {
      height: 45px;
      float: left;
      margin: 10px 10px 0px 20px;
}

.glibr-tagline{
      font-size:1.1rem;
}

.container-50pct {
      max-width:100%;
      margin: 0 auto;
}

.container-80pct {
      max-width:100%; 
      margin: 0 auto;
}

.btn-primary{
      font-size: 1.1rem;
      font-weight:bold;
    }

    .glibr-modal {
      width: 300px;
      left: 50%;
      margin-left:-49%;
      top: 80px;
}

.table-fix-overflow{
      width:100px;
      }
      


}
/* Smartphones landscape 
aligns with bootstrap 4
sm = Small ≥576px
Max container width 540px
*/
@media only screen and (min-width: 577px) and (max-width: 767px) {

      h1{
            font-size:1.45rem;
      }
      h5{
            font-size:1.15rem;
      }
      h1.style-two {
            font-size:.95rem;
            margin-bottom: -25px;
      }
      
      h1.style-one {
        
      }
      
      .logo {
            height: 45px;
            float: left;
            margin: 10px 10px 0px 20px;
      }
      
      .glibr-tagline{
            font-size:1.1rem;
      }
      

      
      .container-50pct {
            max-width:100%;
            margin: 0 auto;
      }
      
      .container-80pct {
            max-width:100%; 
            margin: 0 auto;
      }
      
      .btn-primary{
            font-size: 1.1rem;
            font-weight:bold;
          }
          .glibr-modal {
            width:450px;
            left: 50%;
            margin-left: -48%;
            top: 80px;
      }

}




/* Tablet portrait
aligns with bootstrap 4
md = Medium ≥768px
Max container width 720px
*/
@media only screen and (min-width: 768px) and (max-width: 991px) {

      .container-50pct {
            max-width:80%;
            margin: 0 auto;
      }


      
}


/* Desktop and Tablet Landscape
aligns with bootstrap 4
lg = Large ≥992px
Max container width 960px
*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {}


/* Desktop and Tablet Landscape
aligns with bootstrap 4
xl = Extra large ≥1200px
Max container width 1140px
*/
@media only screen and (min-width: 1200px) {

}

